<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPubSubMonitoringService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPubSubMonitoringService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/PubSubMonitoringService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPubSubMonitoringService"
                contract="MonitoringService.IPubSubMonitoringService" name="WSDualHttpBinding_IPubSubMonitoringService">
                <identity>
                    <userPrincipalName value="DESKTOP-A9D7OMC\Marco" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9001/PubSubMonitoringService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPubSubMonitoringService"
                contract="MonitoringService.IPubSubMonitoringService" name="NetTcpBinding_IPubSubMonitoringService" />
        </client>
    </system.serviceModel>
</configuration>