<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPubSubService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPubSubService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/PubSubService/" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IPubSubService" contract="MonitoringService.IPubSubService"
                name="WSDualHttpBinding_IPubSubService">
                <identity>
                    <userPrincipalName value="DESKTOP-A9D7OMC\Marco" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9001/PubSubService/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPubSubService" contract="MonitoringService.IPubSubService"
                name="NetTcpBinding_IPubSubService" />
        </client>
    </system.serviceModel>
</configuration>